# BOT DEPENDENCIES #

praw				# base package to run
requests			# http requests
PILLOW				# image manipulation
git+https://github.com/ankeshanand/py-gfycat.git #for gfycat
opencv-python-headless		# video manipulaton
airbrake			# for error logging
bs4				# http parsing
keen				# analytics
