praw ~= 7.6.0		        # base package to run
requests			        # http requests
requests_toolbelt           # http requests
PILLOW				        # image manipulation
gfycat                      # for gfycat
opencv-python-headless		# video manipulation
bs4					        # http parsing
timeloop			        # comment downvote checking
numpy                       # images
sentry-sdk			        # for error logging - Heroku
keen				        # analytics - Heroku
redis				        # memory - Heroku
pytest                      # testing
pytest-cov                  # testing
codecov                     # testing