.rembeddit {
  font-size: small;
  max-height: 300px;
  overflow: scroll;
  padding: 0 !important;
}
.odd {
  background-color: #f2f2f2;
}

header {
  z-index: 1000;
}

@media print, screen and (min-width: 960px) {
  footer {
    height: 100%;
    bottom: auto;
    min-height: 850px;
  }

  .footer-container {
    position: absolute;
    bottom: 50px;
  }
}

@media (prefers-color-scheme: dark) {
	body, .rembeddit-content, .rembeddit {
		background-color: black;
	}

	.rembeddit, p {
		color: white;
	}

	.odd, .reddit-header {
		background-color: #333;
	}

	.content-section, h1, h2, h3, h4, h5, h6, strong {
		color: white;
	}
}
